.container {
  flex: 1; 
  justify-content: center;
  align-items: center;
  gap: 20px; /* Adds space between Autocomplete components */
  padding: 50px;
  }
  
.top-container{
  display: flex;
  align-items: center;
  gap: 20px; 
}

  .map-container {
    flex: 1; /* Adjust as needed */
    margin-left:50px;
    margin-top: 50px;
  
  }
  
  .autocomplete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Adds space between Autocomplete components */
    padding: 50px;  /* Adjust as needed */
  }
  
  .top-autocomplete {
    display: flex;
    align-items: center;
    gap: 20px; /* Optional: for adding space between elements */
  }

  .bottom-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* or any specific height or min-height, if required */
  }
  
  .bottom-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px; /* or any specific height or min-height, if required */
  }
