.content {
    /* Center align content, provide padding, background color, rounded corners, and shadow */
    text-align: center;
    padding: 20px;
    background-color: #afd8fa;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 95%; /* Limit maximum width */
}

.content h1 {
    /* Styling for h1 within .content */
    font-size: 40px;
    margin-bottom: 10px;
}

.guide-container {
    /* Flex container for guide, align content, provide padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.youtube-container {
    /* Flex container for YouTube content, center justify content */
    display: flex;
    justify-content: center;
}
